{{#md-toolbar}}
    <div class="md-toolbar-tools">
        {{#md-button class="md-icon-button" hide-gt-sm='' aria-label="Toggle Menu" action='MenuClick'}}
            {{md-icon md-svg-src="images/icons/ic_menu_24px.svg"}}
        {{/md-button}}

        <div class="fill-height" flex layout="row">
            <h2 class="md-toolbar-item md-breadcrumb">
                <span>
                    <span>{{ title }}</span>
                </span>
            </h2>
        </div>

        <span flex></span>

        <a href="http://strokit.net" target="_blank" class="pull-right md-caption">
            Strokit developers - 2015
        </a>
    </div>
{{/md-toolbar}}

<md-content class="md-padding" md-scroll-y flex>
    <md-card>
        <md-card-content>
            {{yield}}
        </md-card-content>
    </md-card>
</md-content>
