<div id="world-map-gdp" style="height: 300px"></div>
<h2>{{selectedCountryName}}</h2>
{{#md-tabs id="tabs" md-border-bottom='' dynamicHeight=true}}
    {{#md-tabs-wrapper}}
        {{#md-tab label="График"}}
        {{/md-tab}}
        {{#md-tab label="Круговая диаграмма"}}
        {{/md-tab}}
    {{/md-tabs-wrapper}}

    {{#md-tabs-content-wrapper}}
        {{#md-tab-content}}
            <md-content class="md-padding">
                <canvas id="country-detail-line" style="width: 100%;height: 200px" ></canvas>
            </md-content>
        {{/md-tab-content}}

        {{#md-tab-content}}
            <md-content class="md-padding">
                <canvas id="country-detail-pie" style="width: 100%;height: 200px" ></canvas>
            </md-content>

        {{/md-tab-content}}

    {{/md-tabs-content-wrapper}}

{{/md-tabs}}