@import "ember-material-design";
@import "_style";

.md-inline {
  display: inline;
}

.main-chart-tax {
  width: 50%;
  height: 300px;
  float: left;
  padding: 10px;
  padding-left: 0;
}

.main-chart-trade {

  width: 50%;
  height: 300px;
  float: right;
  padding: 10px;
  padding-right: 0;
}

.main div.pre {
  white-space: pre-wrap;
}