<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OpendataHackaton</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for 'head'}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/opendata-hackaton.css">
    <link rel="stylesheet" href="jquery-jvectormap-2.0.2/jquery-jvectormap-2.0.2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">


      {{content-for 'head-footer'}}
  </head>
  <body>
    {{content-for 'body'}}

    <script src="assets/vendor.js"></script>
    <script src="assets/opendata-hackaton.js"></script>
    <script src="js/raphael.js"></script>
    <!--<script src="js/sankey.js"></script>-->

    <script type="text/javascript"
            src="http://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['sankey']}]}">
    </script>
    <script src="jquery-jvectormap-2.0.2/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="jquery-jvectormap-2.0.2/jquery-jvectormap-world-mill-en.js"></script>

    {{content-for 'body-footer'}}
  </body>
</html>
