{{#md-sidenav classNames="site-sidenav md-sidenav-left md-whiteframe-z2"
md-component-id="left"
sidebarVisible=sidebarVisible
isLockedOpen = sidebarLocked}}

    {{#md-toolbar}}
        <h1 class="md-toolbar-tools">
            {{#md-button class="md-icon-button" hide-gt-sm='' aria-label="Toggle Menu" action='toggleSidebar'}}
                {{md-icon md-svg-src="images/icons/ic_menu_24px.svg"}}
            {{/md-button}}
            {{#link-to 'index' flex='' layoutType="row" class='docs-logo'}}
                <div class="docs-logotype">Silk way</div>
            {{/link-to}}
        </h1>
    {{/md-toolbar}}
    <md-content flex>
        <ul class="docs-menu">
            {{#link-to 'index' activeClass='parentActive' tagName='li'}}
                {{#link-to 'index' classNames="md-button"}}Главная{{/link-to}}
            {{/link-to}}
            {{#link-to 'countryImport' activeClass='parentActive' tagName='li'}}
                {{#link-to 'countryImport' classNames="md-button"}}Импорт по странам{{/link-to}}
            {{/link-to}}
            {{#link-to 'countryExport' activeClass='parentActive' tagName='li'}}
                {{#link-to 'countryExport' classNames="md-button"}}Экспорт по странам{{/link-to}}
            {{/link-to}}
            {{#link-to 'eaes' activeClass='parentActive' tagName='li'}}
                {{#link-to 'eaes' classNames="md-button"}}Страны ЕАЭС{{/link-to}}
            {{/link-to}}
            {{#link-to 'eaesProduct' activeClass='parentActive' tagName='li'}}
                {{#link-to 'eaesProduct' classNames="md-button"}}Продукты ЕАЭС{{/link-to}}
            {{/link-to}}
            {{#link-to 'eaesSankey' activeClass='parentActive' tagName='li'}}
                {{#link-to 'eaesSankey' classNames="md-button"}}Товарооборот ТС{{/link-to}}
            {{/link-to}}
            {{#link-to 'files' activeClass='parentActive' tagName='li'}}
                {{#link-to 'files' classNames="md-button"}}Документы и презентации{{/link-to}}
            {{/link-to}}
        </ul>
    </md-content>

{{/md-sidenav}}

<div layout="column" role="main" flex tabindex="-1">
    {{outlet}}
</div>
