
{{# content-toolbar title="Товарооборот ТС" action='toggleSidebar'}}

{{#md-radio-button
value="import"
class="md-primary md-inline"
selected=type}}
    "Импорт"
{{/md-radio-button}}
{{#md-radio-button
value="export"
class="md-primary md-inline"
selected=type}}
    "Экспорт"
{{/md-radio-button}}

<div id='sankey' style="width:100%;height:450px">
    &nbsp;
</div>
<div class="row">
    <div class="col-md-6">
        {{select-2
        content=countries
        value=selectedCountries
        multiple=true
        optionValuePath="id"
        optionLabelPath="title"
        placeholder="Выберите страны"
        }}
    </div>
    <div class="col-md-6">
        {{select-2
        content=products
        value=selectedProducts
        multiple=true
        optionValuePath="id"
        optionLabelPath="title"
        placeholder="Выберите категории товаров"
        }}
    </div>
    <div class="col-md-12">
        {{multiselect-checkboxes options=years labelProperty='value' selection=selectedYears}}
    </div>
</div>

{{/content-toolbar}}