{{# content-toolbar title="КР  цифрах со странами ЕАЭС" action='toggleSidebar'}}

    {{#md-radio-button
    value="import"
    class="md-primary md-inline"
    selected=type}}
        "Импорт"
    {{/md-radio-button}}
    {{#md-radio-button
    value="export"
    class="md-primary md-inline"
    selected=type}}
        "Экспорт"
    {{/md-radio-button}}

    <canvas id="eaes-info" style="width: 100%;height: 200px"></canvas>

    {{select-2
    content=products
    value=selectedProduct
    multiple=false
    optionValuePath="id"
    optionLabelPath="title"
    placeholder="Выберите категории товаров"
    }}

    {{select-2
    content=countries
    value=selectedCountries
    multiple=true
    optionValuePath="id"
    optionLabelPath="title"
    placeholder="Выберите страны"
    }}
{{/content-toolbar}}
