{{# content-toolbar title="Документы и презентации" action='toggleSidebar'}}
    {{#md-list}}
        {{#md-list-item class="md-1-line"}}
            <div class="md-list-item-text">
                <a href="https://readymag.com/u17964839/168532/">Импорт машин</a> Темирлан Акимтеги
            </div>
            <md-divider></md-divider>
        {{/md-list-item}}
        {{#md-list-item class="md-1-line"}}
            <div class="md-list-item-text">
                <a href="/files-data/nursultan.pptx">Мясо. Made in KG</a> Нурсултан Сулайманов
            </div>
            <md-divider></md-divider>
        {{/md-list-item}}
        {{#md-list-item class="md-1-line"}}
            <div class="md-list-item-text">
                <a href="/files-data/pavel.pptx">Приоритет мясной продукции в структуре экспорта мяса</a> Павел Громский
            </div>
            <md-divider></md-divider>
        {{/md-list-item}}
    {{/md-list}}
{{/content-toolbar}}