{{# content-toolbar title="Главная страница" action='toggleSidebar'}}
    <md-content class="extraPad main">
        <h1>
            КЫРГЫЗСТАН НАРАСТИТ МЯСО
        </h1>

        <p>
            <b>Для чего ему следует возродить у себя старые добрые колхозы</b>
        </p>

        <p>
            Евразийский экономический союз позволит развить экспорт в стране «Ала Тоо» в своихтрадиционных областях
            народного хозяйства, что должно вытянуть саму экономику из кризиса уже в ближайшие годы.
        </p>

        <p>
            Киргизия определилась с выбором наиболее приоритетных статей экспорта. Об этом сообщил глава Минэкономики,
            Олег Панкратов. Свое заявление глава ведомства сделал 12 июня на форуме по реализации плана правительства по
            развитию экспорта КР на 2015-2017 годы.
        </p>

        <p>

    {{#link-to 'countryImport' activeClass='parentActive' tagName='li'}}
            - Кыргызстан является страной с малой экономикой и малым объемом внутреннего рынка. в связи с этим, важно
            правильно выбрать такие приоритетные направления развития экспорта, в которых можно наиболее эффективно
            использовать свои конкурентные преимущества, - отметил министр.
    {{/link-to}}
        </p>

        <p>
            По его словам, это статьи с высоким экспортным потенциалом, среди которых: текстильное и швейное
            производство, плодоовощная отрасль, мясная и молочная отрасли, производство бутилированной воды, туризм.
            Касаясь традиционного для кыргызского народа вида сельхозпродукции – мясного производства, Олег Панкратов
            напомнил основные пункты, над которыми работает страна в ходе выполнения задач, предусмотренных дорожной
            картой по присоединению КР к ЕАЭС. Это оборудование для пунктов пропуска на границах для проведения
            санитарно-карантинного, ветеринарного и карантинного фитосанитарного контроля. Кыргызстанский участок
            таможенной границы будет оснащен лабораториями департамента профилактики заболеваний и госсанэпиднадзора,
            которые будут аккредитованы в национальной системе аккредитации и включены в национальную часть единого
            реестра испытательных лабораторий стран участников ЕАЭС.
        </p>

        <p>
            Перерабатывающая промышленность – как подразделение сельского хозяйства, может стать наиболее интересной для
            инвесторов из стран ЕАЭС отраслью. При этом, как отмечают эксперты, отдельным конкурентным преимуществом
            Кыргызстана является налоговая система.
        </p>

        <p>
            - В Кыргызстане ставки акцизного налога на все виды продукции ниже, чем у стран-партнеров по ЕАЭС. К
            примеру, У нас не производится табачная продукция - после пребывания в стране компании «Реемстсма»; нет
            выработки нефтепродуктов. На алкоголь ставка также очень низкая. Кроме всего прочего, у нас количество
            налогов само по себе ниже, чем в России, Казахстане, или Белоруссии. Поэтому, если мы будем вывозить свой
            товар на рынок ЕАЭС, так как нет ввозных пошлин, то мы будем в выигрыше. Поэтому, можно рассчитывать на то,
            что к нам придут инвесторы из России и Казахстана, - отмечает в беседе с SW доцент КРСУ, эксперт в области
            налогообложения Лариса Макаренко.
        </p>

        <div class="pre"><canvas id="tax-eaes" class="main-chart-tax"></canvas>Налог на прибыль в странах ЕАЭС:
Республика Армения – от 12 до 30%
Республика Беларусь – 20%
Республика Казахстан – 20%
Кыргызская Республика – 10%
Российская Федерация – 20%.

        </div>

        <p>
            По словам эксперта, «негативным» эффектом вхождения Кыргызстана в ЕАЭС может стать потеря контрабанды:
            отсутствие таможенных пошлин делает ее невыгодной.
        </p>

        <p>
            - Проблема в другом, - поддерживает эксперта предприниматель, президент Ассоциации производителей и
            переработчиков мяса «Кыргыз эт» Ырысбай Абдурасулов. – До сих пор не открыты «ворота» в Казахстан. Также, и
            в
            Россию. Обе страны прекратили импорт кыргызского мяса с 2007 года, и пока мы только обсуждаем открытие
            границ.
            Поэтому сохраняется контрабанда мяса. Официально мы продаем около 200 тыс. тонн мяса в год. По оценкам
            экспертов
            и самих фермеров, поголовье скота у нас в 2-2,5 раза больше. И, фактически, мы продаем около 400-500 тыс.
            тонн.
            У нас только лошадей по отчетам статкомитета – 400 тыс. голов. А реально – больше миллиона. Фермеры скрывают
            точные цифры, чтобы не платить неоправданно высокие налоги, и не оказаться в проигрыше. По этой же причине у
            нас
            и контрабанды много. Наше мясо – все его категории, более высокого качества, чем зарубежная продукция, и
            наши
            продают его по более высокой цене на экспорт – легально и в обход закона. От этого и потери бюджета у нас
            просто
            колоссальные. Если посчитать, что в Таджикистан, Иран, Саудовскую Аравию наше мясо идет по цене в 10
            долларов за
            килограмм, то при нынешних цифрах получится, что наш бюджет недополучает около 3 млрд. долларов. Они идут в
            доход наших чиновников, таможенников, депутатов – всех, кто «крышует» мясную торговлю. Это если считать, что
            мясо на экспорт идет по 10 долларов. Но это – мясо самой низкой категории. А мясо более высокой категории
            стоит
            до 50 долларов за килограмм. Теперь, если посчитать еще и эти цифры, получится вообще сумма размером с весь
            наш
            бюджет.
        </p>

        <p>
            Между тем, в Российской Федерации полагают, что вхождение Кыргызстана в ЕАЭС поможет вывести из торгового
            оборота страны контрабанду. По словам российского эксперта, заместителя начальника отдела международного
            взаимодействия Департамента развития интеграции Евразийской экономической комиссии (ЕЭК), ответственного
            секретаря рабочей группы по присоединению КР к ЕАЭС, Федора Черницына, Евразийский союз состоялся, при
            условии
            сложностей в мировой экономике. Уже в первые годы после создания Таможенного союза России, Белоруссии и
            Казахстана пантеры смоги в несколько раз увеличить объемы взаимной торговли.
        </p>

        <p>
            - Количество совместных предприятий на территории государств-членов увеличивается. Они действуют практически
            во
            всех ключевых сферах: от добычи и переработки сырья до информационных технологий. Эксперт отмечает, что
            успешность проекта напрямую связана с установлением общих для всех участников рынка правил: Единый
            Таможенный
            кодекс, Таможенный тариф, единые ставки ввозных таможенных пошлин и единые требования к качеству товаров, -
            поясняет Федор Черницын в сообщении SW.
        </p>

        <div class="pre"><canvas id="trade-eaes" class="main-chart-trade"></canvas>Общий объем торговли стран ТС в 2009-2013 гг. – с 36 до 65 млрд. долл. (принимая во внимание общий спад
экономики в России в 2014 г на 11% - прим. П.Г.).
Товарооборот:
Беларусь-Казахстан. Рост: 200%. (с 464,8 до 870,4 млн. долл.)
Беларусь-Россия. Экспорт в Россию: 160% (с 9,9 до 16,8 млрд. долл.),
Казахстан-ТС. Рост: 200% за 4 года (с 12,9 до 24,6 млрд. долл.).

        </div>

        <p>

                - Товарооборот государств-членов ЕАЭС с Кыргызской Республикой в 2014 году составил около 3 млрд. долл.,
                из
                которых экспорт в КР - 2,5 млрд долл., импорт из Киргизии - 0,5 млрд долл. В товарной структуре экспорта
                в
                Кыргызскую Республику из Союза преобладают минеральные продукты, продовольственные товары, продукция
                химической
                промышленности, металлы и др.
        </p>

        <p>
            Вместе с тем, в отдельной беседе эксперты отмечают, что большего успеха Кыргызстан может добиться,
            ориентируясь
            на собственный потенциал, не зависящий от поставок извне, как это происходит в случае с легпромом. Эта
            отрасль,
            позволившая в свое время выжить значительному количеству жителей Кыргызстана, в основе своей, опирается на
            поставку материала из КНР В случае с сельским хозяйством у Кыргызстана есть все шансы на развитие
            собственного
            производства.
        </p>

        <p>
            - Мясная и молочная продукция из стран ЕАЭС востребована в РФ в связи с политикой замещения импорта из стран
            Запада, - отмечает в беседе с SW эксперт Института Востоковедения РАН Никита Мендкович. - Российский рынок
            очень
            емок, так что, если КР нарастит выпуск данного класса товаров на импорт - его примут охотно. Однако на
            нынешнем
            этапе уровень производства недостаточен даже для собственного рынка, нужны инвестиции рост площадей под
            выпас и
            т.п. Кроме того, считает эксперт, для успешного вывода мясной продукции на сильные экспортные позиции, нужны
            инвестиции. Краеугольный камень данной отрасли – кредитование. Сейчас в нее поступает минимум кредитов, что
            не
            позволяет усовершенствовать отрасль. Нужно используя средства совместного Кыргызско-Российского Фонда
            развития,
            создавать более мелкие кредиты, чтобы распределять их среди фримеров. При этом, нужно брать курс на
            укрупнение
            предприятий, кооперирование в той или ной форме, хотя бы в вопросе использования земли.
        </p>
    </md-content>
{{/content-toolbar}}